body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: white;
  transition: 0.3s;
}
header {
  background: #4CAF50;
  color: white;
  padding: 20px;
}
nav {
  background: #333;
  padding: 10px;
}
nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 30px;
}
.card {
  display: inline-block;
  background: #ddd;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}
.project {
  background: #f4f4f4;
  margin: 10px auto;
  width: 60%;
  padding: 15px;
  border-radius: 10px;
}
.dark {
  background: #111;
  color: white;
}
.dark .project,
.dark .card {
  background: #333;
  color: white;
  }
